<%= provide(:heading, "Meet your furrers") %>

<!-- Display listings -->
<div class="row">
  <% @listings.each do |listing| %>
  <%= link_to listing_path(listing.id, anchor: 'main'), class: 'listing-links' do %>
    <div class="col-md-4 show-listings">
      <div class="preview-listing" style="background-image: url(<%= listing.photo.url %>)"></div>
      <h4><%= listing.address %></h4>
      <p>Posted by: <%= listing.user.first_name %></p>
    </div>
  <% end %>
  <% end %>
</div>
