<!-- diplay listing -->
<li id="listing-<%= listing.id %>">
  <span class="user">
    <%= listing.user.first_name %> listed:
    <!-- <i><%#= link_to listing.product.name, listing.product %></i> -->
  </span>
  <span class="photos">
    <%= image_tag listing.photo.url if listing.photo? %>
  </span>
  <span class="content"><%= listing.content.capitalize %></span>
  <span class="timestamp">
  <%= time_ago_in_words(listing.created_at) %> ago.

  <% if current_user?(listing.user) %>
    <%= link_to "delete", listing, method: :delete,
                                     data: { confirm: "Delete listing?" } %>
  <% end %>
  </span>
</li>
