<%= provide(:heading, @listing.address) %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="preview-listing listing-image" style="background-image: url(<%= @listing.photo.url %>)"></div>
    <p><%= @listing.content %> </p>
  </div>
</div>
<%= link_to "Request to Book", '#', class: 'btn btn-primary', data: { confirm: 'Redirect to payment site?'} %>
<%= link_to "Report this listing", help_path(anchor: 'main'), class: 'linkto-text' %>
